
form .row{margin:15px 0px}
form .row>label{font-weight:400;line-height:48px}
form .row>div{padding:0px}
/*===================================*/



@media screen and (max-width: 992px) {
	.container{width:95%}

}
@media screen and (max-width: 768px) {
  	.col-sm-3 {width:20%;float:left}
	label.col-sm-3{width:30%;}
	.col-sm-2 {width:15%;float:left}
	.row>div{padding:0px}
	.row>label{padding:0px}
	.col-sm-7{width:50%;float:left}
	
}

@media screen and (max-width: 600px) {
  	form .row:last-of-type .col-sm-2{width:100%;text-align:right;padding-right:15px}
	.col-sm-3 {width:30%;}
	.col-sm-2 {width:20%;}
	.col-sm-7{width:70%;}
	
	
}









